html, body{
	font-family: 'Open Sans' !important;
	background-color: #FEF9EE !important;
}

nav{
	height: 50px;
	background-color: #2F2F2F;
	color: #C0C0C0;
	padding: 10px 30px 10px 30px;
	span{
		font-size: 20px;
	}
	#brand{
		.small-highlight{
			font-size: 10px;
			font-style: italic;
			font-weight: bold;
		}	
	}
	
}

.ib{
	display: inline-block;
}

.FL{
	float: left;
}
#taskStatBar{

	#toggleStat{
	    // position: absolute;
	    background-color: #FEF9EE;
	    height: 30px;
	    min-width: 70px;
	    text-align: center;
	    padding: 5px 10px 5px 10px;
	    div{
	    	width: 130px;
		    background-color: #F5EFE1;
		    margin: 0 auto;
		    padding: 5px 10px 5px 10px;
		    margin-top: -5px;
		    cursor: pointer;
	    }
	}
	#taskbar{
		height: 120px;
		background-color: #F5EFE1;
		padding: 30px;
	    position: relative;
		h4{
			margin-top: 0px;
			font-weight: bold;
			text-decoration: underline;
			text-transform: uppercase;
		}

		#task-bubble-bar{
			float: left; 
			big{
				margin-right: 10px;
			}	
			.task-bubble{
				display: inline-block;
				margin-right: 10px;
				background-color: #2F2F2F;
				height: 40px;
			    // max-width: 200px;
			    padding: 10px;
			    min-width: 10px;
			    color: white;
			    font-weight: bold;
			}
	}
		}
}
#addTaskPopUp{
	.modal-content{
		border-radius: 0px;
	}
	#header{
		height: 56px;
		padding: 15px;
		border-bottom: 1px solid #e5e5e5;
		background: #2F2F2F;
		color: white;
		font-weight: bold;
		.close{
			color: white;
			opacity: 1;
		}
	}
	#content-body{
		padding-bottom: 0px;
	}
	input{
		border-radius:0px;
		 //border: 1px solid #bbb;
		 &:focus{
		 	border-color: #888;
		 	-webkit-box-shadow: none;
		 	box-shadow: none;
		 }
		}

		#footer{
			padding-top: 0px;
			border-radius: 0px;
			text-align: right;
			border: 0px;
			button{
				background: #2E6DA4;
				border: none;
				min-width: 10%;
				font-weight: bold;
				padding: 5px 10px 5px 10px;
				color: white;
			}
		}
	}

	#tasks-window{
		background-color:#FEF9EE;
		padding: 0px 30px 30px 30px;
		#title-bar{
			width: 100%;
			display: inline-bmlock;	
			#container-title{
				width: 80%;
				float: left;
				h4{
					font-weight: bold !important;
				}
			}
			#task-add-btn{
				width: 20%;
				float: left;
				#addTaskBtn{
					border-radius: 0px !important; 
					//border: 2px solid #0D487B;
					background-color: #2E6DA4;
					height: 33px;
					min-width: 100px;
					color: white;
					font-weight: bold;
					text-align: center;
					margin-bottom: 10px;
				}
				.switchFormat{
					background-color: #F0AD4E !important;
				}
		}
	}

	#addTaskForm{
		.colorpicker{
			//border: 1px solid #FFF;
			height: 20px;
			width: 20px;
			margin-top: 6px;
			//border-radius: 4px;
			display: inline-block;
			margin-right: 5px;
			cursor: pointer;
			.glyphicon{
				position: absolute;
				margin-top: 8px;
				margin-left: 4px;
				font-size: 1px;
				color: #333;
				display: none;
			}
		}
	}
	#tasks-container{
		width:100%;
		.sample:after
		{
			content: "DONE";
			position: relative;
			top: -100px;
			left: -10px;
			float: right;
			z-index: 1;
			font-family: Arial,sans-serif;
			-webkit-transform: rotate(-18deg);
			-moz-transform: rotate(-18deg);
			-ms-transform: rotate(-18deg);
			-o-transform: rotate(-18deg);
			/* transform: rotate(-45deg); */
			font-size: 30px;
			color: #5cb85c;
			background: #fff;
			border: solid 4px #5cb85c;
			padding: 5px;
			border-radius: 5px;
			zoom: 1;
			filter: alpha(opacity=20);
			opacity: 0.5;
			-webkit-text-shadow: 0 0 2px #c00;
			text-shadow: 0 0 2px #3c763d;
			box-shadow: 0 0 2px #3c763d;
		}
		#no-tasks{

			text-align: center;
			min-width: 100%;
		    text-align: center;
		    margin-top: 60px;
			.ib{
				display: inline-block;
			}
			.FL{
				float: left;
			}
			#thumb{
				width: 30%;
   				text-align: right;
				img{
					width: 50%;
				}
			}
			#congrat-text{
				width: 70%;
			    padding-top: 30px;
		        padding-left: 15px;
			    color: #5589D9;
			    text-align: left;
			}
			
		}
		.task-box{
			padding: 5px;
			width:320px;
			display:inline-block;
			height: 185px;
			background-color: #F5EFE1;
			margin-right: 10px;
			margin-bottom: 10px;

			.task-title{
				padding: 7px;
				background-color: #D9AE15;
				height:30px;
				color:white;
				h5{
					margin: 0px;
					font-weight: bold;
					width: 95%;
				}
				.removeTask{
					position: absolute;
				    // width: 5%;
				    text-align: center;
				    margin-top: -6px;
				    font-size: 18px;
				    font-weight: bold;
				    cursor: pointer;
				}

			}
			.task2{
				background-color: #5CB85C;
			}
			.task3{
				background-color: #D25024;
			}
			.task-due-date{
				height:120px;
				
				background-color: white;
				margin-left: 1px;
				margin-right: 1px;
				padding-top: 10px;
				padding-left: 10px;
				padding-right: 10px;
				.glyphicon{
					color: #D6CCB0;
				}
			}
			p{
				font-size: 14px;
				margin-bottom: 3px;
				word-wrap: break-word;
			}
			.task-desc{
				height: 30px;
				margin: 10px 10px 5px 10px;
				input{
					width: 100%;
				}
				
			}
			.task-done{
				text-align: right;
				.task-done-text{
					height: 30px;
					position: relative;
					top: -5px;
					span{
						font-weight: bold;
					}
				}
				input[type=checkbox]{
					height: 20px; width: 20px;
				}
			}
		}
	}
}

.toRemove {
  animation: collapse .3s linear;
  -webkit-animation: collapse .3s linear;
  // animation-fill-mode: forwards;
}

@keyframes collapse {
  0% {
	position: relative;
	left: 0;
  }
  // 60% {
  // 	position: relative;
  //   left: -100px;
  // }
  100%{
  	position: relative;
  	left: -1000px;

  	display: none;
  }
}

@-webkit-keyframes collapse {
  0% {
	position: relative;
	left: 0;
  }
  // 60% {
  // 	position: relative;
  //   left: -100px;
  // }
  100%{
  	position: relative;
  	left: -1000px;

  	display: none;
  }
}

#task-list-container{
	.sample:after{
		top: -80px !important;
	}
	.task-list{
	min-height:70px;
	padding: 5px;
	background-color: #F5EFE1;
	margin-bottom: 5px;
	width: 100%;
	
	.list-title{

		h5{
			color: white;
			font-weight: bold;
			margin: 0px;
			width: 98%;
			float: left;
		}
		.removeTask{
			position: absolute;
		    // width: 5%;
		    text-align: center;
		    margin-top: -6px;
		    font-size: 18px;
		    font-weight: bold;
		    cursor: pointer;
		    color: white;
		}
		min-height: 25px;
		padding: 5px;
	}
	.list-due-date{
		min-height: 20px;
		background-color: white;
		padding: 5px;
		.glyphicon{
			color: #D6CCB0;
		}

	}
	.list-done{
		text-align: right;
		height: 25px;
		.task-done-text{
			// min-height: 25px;
			position: relative;
			top: -5px;
			span{
				font-weight: bold;
			}
		}
		input[type=checkbox]{
			height: 20px; width: 20px;
		}
	}

}
}

#todoApp{
	width: 100%;
	margin: 0 auto;
	#outer{
		width: 50%;
		margin: 0 auto;
		padding: 10px;
	}
}


@media screen and (max-width:680px) {
	#tasks-window #tasks-container .task-box{
		width: 260px;
	}
 	#task-add-btn{
 		display: block;
 		width: 100% !important;
 		#addTaskBtn{
 			float: left;
		    margin-right: 15px;
 		}
 	}
 	#tasks-window #tasks-container #no-tasks{
		// color: red !important;
 		#thumb{
 			width: 100%;
 			padding-top: 20px;
 			text-align: center;
 			
 		}
 		#congrat-text{
 			width: 100%;
 			text-align: center;
 			h1{
 				margin: 0;
 				font-size: 25px !important;
 				font-weight: 800;
 			}
 			// color: white;
 		}
 	}
}

@media screen and (min-width: 680px) and (max-width:1200px) {
	#tasks-window #tasks-container #no-tasks{
		height: 00px;
		#congrat-text{
			margin-top: -30px;
			h1{
				font-size: 30px;
				font-weight: 800;
			}
		}


		// color: red !important;
 	// 	#thumb{
 	// 		// width: 30%;
 	// 	}
 	// 	#congrat-text{
 	// 		color: white;
 	// 	}
 	}
	#tasks-window #tasks-container .task-box{
		width: 290px;
	}
 	#task-add-btn{
 		display: block;
 		width: 100% !important;
 		#addTaskBtn{
 			float: left;
		    margin-right: 15px;
 		}
 	}
	
}

// @media screen and (min-width:100px) and (max-width: 1500px) {
//  	body{
//  		color: red;
//  	}
//  	#task-add-btn{
//  		display: block;
//  		width: 100% !important;
//  		#addTaskBtn{
//  			float: left;
// 		    margin-right: 15px;
//  		}
//  	}
// }