html, body {
  font-family: 'Open Sans' !important;
  background-color: #FEF9EE !important; }

nav {
  height: 50px;
  background-color: #2F2F2F;
  color: #C0C0C0;
  padding: 10px 30px 10px 30px; }
  nav span {
    font-size: 20px; }
  nav #brand .small-highlight {
    font-size: 10px;
    font-style: italic;
    font-weight: bold; }

.ib {
  display: inline-block; }

.FL {
  float: left; }

#taskStatBar #toggleStat {
  background-color: #FEF9EE;
  height: 30px;
  min-width: 70px;
  text-align: center;
  padding: 5px 10px 5px 10px; }
  #taskStatBar #toggleStat div {
    width: 130px;
    background-color: #F5EFE1;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    margin-top: -5px;
    cursor: pointer; }

#taskStatBar #taskbar {
  height: 120px;
  background-color: #F5EFE1;
  padding: 30px;
  position: relative; }
  #taskStatBar #taskbar h4 {
    margin-top: 0px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase; }
  #taskStatBar #taskbar #task-bubble-bar {
    float: left; }
    #taskStatBar #taskbar #task-bubble-bar big {
      margin-right: 10px; }
    #taskStatBar #taskbar #task-bubble-bar .task-bubble {
      display: inline-block;
      margin-right: 10px;
      background-color: #2F2F2F;
      height: 40px;
      padding: 10px;
      min-width: 10px;
      color: white;
      font-weight: bold; }

#addTaskPopUp .modal-content {
  border-radius: 0px; }

#addTaskPopUp #header {
  height: 56px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #2F2F2F;
  color: white;
  font-weight: bold; }
  #addTaskPopUp #header .close {
    color: white;
    opacity: 1; }

#addTaskPopUp #content-body {
  padding-bottom: 0px; }

#addTaskPopUp input {
  border-radius: 0px; }
  #addTaskPopUp input:focus {
    border-color: #888;
    -webkit-box-shadow: none;
    box-shadow: none; }

#addTaskPopUp #footer {
  padding-top: 0px;
  border-radius: 0px;
  text-align: right;
  border: 0px; }
  #addTaskPopUp #footer button {
    background: #2E6DA4;
    border: none;
    min-width: 10%;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    color: white; }

#tasks-window {
  background-color: #FEF9EE;
  padding: 0px 30px 30px 30px; }
  #tasks-window #title-bar {
    width: 100%;
    display: inline-bmlock; }
    #tasks-window #title-bar #container-title {
      width: 80%;
      float: left; }
      #tasks-window #title-bar #container-title h4 {
        font-weight: bold !important; }
    #tasks-window #title-bar #task-add-btn {
      width: 20%;
      float: left; }
      #tasks-window #title-bar #task-add-btn #addTaskBtn {
        border-radius: 0px !important;
        background-color: #2E6DA4;
        height: 33px;
        min-width: 100px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px; }
      #tasks-window #title-bar #task-add-btn .switchFormat {
        background-color: #F0AD4E !important; }
  #tasks-window #addTaskForm .colorpicker {
    height: 20px;
    width: 20px;
    margin-top: 6px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer; }
    #tasks-window #addTaskForm .colorpicker .glyphicon {
      position: absolute;
      margin-top: 8px;
      margin-left: 4px;
      font-size: 1px;
      color: #333;
      display: none; }
  #tasks-window #tasks-container {
    width: 100%; }
    #tasks-window #tasks-container .sample:after {
      content: "DONE";
      position: relative;
      top: -100px;
      left: -10px;
      float: right;
      z-index: 1;
      font-family: Arial,sans-serif;
      -webkit-transform: rotate(-18deg);
      -moz-transform: rotate(-18deg);
      -ms-transform: rotate(-18deg);
      -o-transform: rotate(-18deg);
      /* transform: rotate(-45deg); */
      font-size: 30px;
      color: #5cb85c;
      background: #fff;
      border: solid 4px #5cb85c;
      padding: 5px;
      border-radius: 5px;
      zoom: 1;
      filter: alpha(opacity=20);
      opacity: 0.5;
      -webkit-text-shadow: 0 0 2px #c00;
      text-shadow: 0 0 2px #3c763d;
      box-shadow: 0 0 2px #3c763d; }
    #tasks-window #tasks-container #no-tasks {
      text-align: center;
      min-width: 100%;
      text-align: center;
      margin-top: 60px; }
      #tasks-window #tasks-container #no-tasks .ib {
        display: inline-block; }
      #tasks-window #tasks-container #no-tasks .FL {
        float: left; }
      #tasks-window #tasks-container #no-tasks #thumb {
        width: 30%;
        text-align: right; }
        #tasks-window #tasks-container #no-tasks #thumb img {
          width: 50%; }
      #tasks-window #tasks-container #no-tasks #congrat-text {
        width: 70%;
        padding-top: 30px;
        padding-left: 15px;
        color: #5589D9;
        text-align: left; }
    #tasks-window #tasks-container .task-box {
      padding: 5px;
      width: 320px;
      display: inline-block;
      height: 185px;
      background-color: #F5EFE1;
      margin-right: 10px;
      margin-bottom: 10px; }
      #tasks-window #tasks-container .task-box .task-title {
        padding: 7px;
        background-color: #D9AE15;
        height: 30px;
        color: white; }
        #tasks-window #tasks-container .task-box .task-title h5 {
          margin: 0px;
          font-weight: bold;
          width: 95%; }
        #tasks-window #tasks-container .task-box .task-title .removeTask {
          position: absolute;
          text-align: center;
          margin-top: -6px;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer; }
      #tasks-window #tasks-container .task-box .task2 {
        background-color: #5CB85C; }
      #tasks-window #tasks-container .task-box .task3 {
        background-color: #D25024; }
      #tasks-window #tasks-container .task-box .task-due-date {
        height: 120px;
        background-color: white;
        margin-left: 1px;
        margin-right: 1px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px; }
        #tasks-window #tasks-container .task-box .task-due-date .glyphicon {
          color: #D6CCB0; }
      #tasks-window #tasks-container .task-box p {
        font-size: 14px;
        margin-bottom: 3px;
        word-wrap: break-word; }
      #tasks-window #tasks-container .task-box .task-desc {
        height: 30px;
        margin: 10px 10px 5px 10px; }
        #tasks-window #tasks-container .task-box .task-desc input {
          width: 100%; }
      #tasks-window #tasks-container .task-box .task-done {
        text-align: right; }
        #tasks-window #tasks-container .task-box .task-done .task-done-text {
          height: 30px;
          position: relative;
          top: -5px; }
          #tasks-window #tasks-container .task-box .task-done .task-done-text span {
            font-weight: bold; }
        #tasks-window #tasks-container .task-box .task-done input[type=checkbox] {
          height: 20px;
          width: 20px; }

.toRemove {
  animation: collapse .3s linear;
  -webkit-animation: collapse .3s linear; }

@keyframes collapse {
  0% {
    position: relative;
    left: 0; }
  100% {
    position: relative;
    left: -1000px;
    display: none; } }

@-webkit-keyframes collapse {
  0% {
    position: relative;
    left: 0; }
  100% {
    position: relative;
    left: -1000px;
    display: none; } }

#task-list-container .sample:after {
  top: -80px !important; }

#task-list-container .task-list {
  min-height: 70px;
  padding: 5px;
  background-color: #F5EFE1;
  margin-bottom: 5px;
  width: 100%; }
  #task-list-container .task-list .list-title {
    min-height: 25px;
    padding: 5px; }
    #task-list-container .task-list .list-title h5 {
      color: white;
      font-weight: bold;
      margin: 0px;
      width: 98%;
      float: left; }
    #task-list-container .task-list .list-title .removeTask {
      position: absolute;
      text-align: center;
      margin-top: -6px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      color: white; }
  #task-list-container .task-list .list-due-date {
    min-height: 20px;
    background-color: white;
    padding: 5px; }
    #task-list-container .task-list .list-due-date .glyphicon {
      color: #D6CCB0; }
  #task-list-container .task-list .list-done {
    text-align: right;
    height: 25px; }
    #task-list-container .task-list .list-done .task-done-text {
      position: relative;
      top: -5px; }
      #task-list-container .task-list .list-done .task-done-text span {
        font-weight: bold; }
    #task-list-container .task-list .list-done input[type=checkbox] {
      height: 20px;
      width: 20px; }

#todoApp {
  width: 100%;
  margin: 0 auto; }
  #todoApp #outer {
    width: 50%;
    margin: 0 auto;
    padding: 10px; }

@media screen and (max-width: 680px) {
  #tasks-window #tasks-container .task-box {
    width: 260px; }
  #task-add-btn {
    display: block;
    width: 100% !important; }
    #task-add-btn #addTaskBtn {
      float: left;
      margin-right: 15px; }
  #tasks-window #tasks-container #no-tasks #thumb {
    width: 100%;
    padding-top: 20px;
    text-align: center; }
  #tasks-window #tasks-container #no-tasks #congrat-text {
    width: 100%;
    text-align: center; }
    #tasks-window #tasks-container #no-tasks #congrat-text h1 {
      margin: 0;
      font-size: 25px !important;
      font-weight: 800; } }

@media screen and (min-width: 680px) and (max-width: 1200px) {
  #tasks-window #tasks-container #no-tasks {
    height: 00px; }
    #tasks-window #tasks-container #no-tasks #congrat-text {
      margin-top: -30px; }
      #tasks-window #tasks-container #no-tasks #congrat-text h1 {
        font-size: 30px;
        font-weight: 800; }
  #tasks-window #tasks-container .task-box {
    width: 290px; }
  #task-add-btn {
    display: block;
    width: 100% !important; }
    #task-add-btn #addTaskBtn {
      float: left;
      margin-right: 15px; } }
